<div id="<%= dom_id question %>">
  <div>
    <strong>Enunciation:</strong>
    <%= question.enunciation %>
  </div>

  <div>
    <strong>Questionnaire:</strong>
    <%= question.questionnaire.title %>
  </div>

</div>
