<div id="<%= dom_id user %>" class="border">
  <div>
    <strong>Name:</strong>
    <%= user.name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= user.email %>
  </div>

  <div>
    <strong>Cpf:</strong>
    <%= user.cpf %>
  </div>

</div>
