<p style="color: #cbfbf1"><%= notice %></p>

<% content_for :title, "Users" %>

  <div class="flex flex-row justify-between w-full py-[1%]">
    <p class="text-3xl">Users</p>

    <%= link_to "New user", new_user_path%>
  </div>

<div id="users" class="grid grid-cols-3 gap-[5%] justify-center pb-[5vh]">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</div>
