<div id="<%= dom_id question_option %>">
  <div>
    <strong>Title:</strong>
    <%= question_option.title %>
  </div>

  <div>
    <strong>Is correct:</strong>
    <%= question_option.is_correct %>
  </div>

  <div>
    <strong>Questions:</strong>
    <%= question_option.question_id %>
  </div>

</div>
