<p style="color: #cbfbf1"><%= notice %></p>

<% content_for :title, "Questionnaires" %>

  <div class="flex flex-row justify-between w-full py-[1%]">
    <p class="text-3xl">Questionnaires</p>
    
    <%= link_to "New questionnaire", new_questionnaire_path %>
  </div>

<div id="questionnaires" class="grid grid-cols-3 gap-[5%] justify-center pb-[5vh]">
  <% @questionnaires.each do |questionnaire| %>
    <%= render questionnaire %>
  <% end %>
</div>


